*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: inherit;
  color: inherit;
}
.app{
  min-height: 98.5vh;
  background-color: aqua;
  border: 8px solid #394439;
  margin: 5px;
  padding: 5px;
}
*::-webkit-scrollbar{
  width: 8px;
}